<h2>Welcome to your dashboard</h2><br/>
<h4>My songs<small style="padding-left:20px;">Total songs bought: <%= current_user.purchases.count %></small></h4>
<table class="table table-hover" id="usrSongs">
  <tr class="info"><td>Band</td><td>Song</td><td>Price</td><td>Purchased</td><td>Download</td></tr>
  <% if !current_user.purchases.first.nil? %>
    <% current_user.purchases.last(5).each do |p| %>
    <tr>
      <% @song = Song.find(p.song_id) %>
      <td><%= @song.band.name %></td>
      <td><%= @song.name %></td>
      <td><%= number_with_precision((p.value.to_f / 100), :precision => 2) %></td>
      <td><%= p.created_at.strftime("%d %b %Y") %></td>
      <td><%= link_to 'Download', home_download_path(:sid => @song.id) %></td>
    </tr>
    <% end %>
  <% end %>
</table>
<% if !current_user.purchases.first.nil? %>
  <button id="btnAllSongs" class="btn btn-large btn-block btn-info" onclick="displayAllSongs();">Load all my songs</button>
  <br/>
  <hr/>
  
  <% @purchases = current_user.purchases %>
  <h4>My tags</h4>
  <% @tags = Array.new %>
  
  <% @purchases.each do |p| %>
    <% Song.find(p.song_id).tag_list.each do |tag| %>
      <% @tags << tag %>
    <% end %>
  <% end %>
  <% @tags.uniq.each do |tag| %>
    <span style="line-height: 40px;margin-right: 30px;padding: 4px 10px;font-size: 17px;" class="badge badge-important"><%= tag %></span>
  <% end %>    
      
  <h4>My Bands</h4>
  <% @bands = Array.new %><% @purchases.each do |p| %>
    <% @band = Band.find(Song.find(p.song_id).band_id) %>
      <% @bands << @band %>
    <% end %>
  <% end %>
  <% @bands.uniq.each do |band| %>
    <span style="line-height: 50px;margin-right: 30px;padding: 4px 10px;font-size: 27px;" class="badge badge-inverse"><a style="color:white" href="/banddash/<%= @band.id %>"><%= @band.name %></a></span>
  <% end %> <br/>
<div>
  