<h2>Admin dashboard <small>Statistics & Users</small></h2><hr/></hr>

<h3>All users</h3>
<table style="width:100%" class="table table-striped">
  <tr class="info"><td>UID</td><td>Email</td><td>Money Spent</td><td></td></tr>
  <% User.all.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><%= user.email %></td>
      <td>£ <%= number_with_precision((user.total_credits_purchased.to_f / 100), :precision => 2) %> (<%= Purchase.where(:user_id => user.id).size %>)</td>
      <td>
        <% if user.admin? %>
          <span style="margin-left: 10px" class="label label-important">Admin</span>
        <% elsif user.role == 'music'%>
          <span style="margin-left: 10px" class="label label-warning">Artist</span>
        <% else %>
          <span style="margin-left: 10px" class="label label-success">User</span>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>


<h3>Top selling bands</h3>
<div class="alert alert-error" <% if (Band.all.count > 5) %><%= " style=display:none;" %><% end %>>
  <button type="button" class="close" data-dismiss="alert">×</button>
  <h3 style="font-weight: 300">We need more bands!</h3>
  <p style="font-size: 16px; font-weight: 300">
    There are less than <strong>5</strong> bands registered for your website.<br/>
    All the bands will be displayed in the below list until more than 5 bands have registered 
    (after which this warning will go away!)
  </p>
</div>
<table style="width:100%" class="table table-striped">
  <tr class="info"><td>Band Name</td><td>Songs sold</td><td>Earned Us</td></tr>
  <% if !Band.first.nil? and !Purchase.first.nil? %>
    <% Band.find(:all, :order => "earned_company desc", :limit => 5).each do |band| %>
      <tr>
        <td><%= band.name %></td>
        <td><%= band.songs_sold %></td>
        <td>£<%= number_with_precision((band.earned_company.to_f / 100), :precision => 2) %></td>
      </tr>
    <% end %>
  <% end %>
</table>

<br/><br/><h3>Other stuff...</h3>
<% Subscription.all.each do |sub| %>
  ID: <%= sub.id %>
  UID: <%= sub.user_id %>
  Band: <%= sub.band.name %>
  Total: <%= sub.total_purchased %><br/>
<% end %>