<h2>Admin dashboard <small>Statistics & Users</small></h2><hr/></hr>

<div class="alert alert-error">
  <h2 onclick="$('#innerFinanceSetup').stop().slideToggle();">Finance setup<small> (click to show/hide)</small></h2>
  <div id="innerFinanceSetup">
    <% y = YAML.load_file( Rails.root + 'config/fa4afsy453sfa.yml') %><br/>
    
    <%= form_for 'admindash/financial', :url => url_for(:action => 'financial') do |f| %>
      Paypal account:<br/><%= f.text_field :account,:name => 'account', :value => '', :placeholder => y['business'] %><br/>
      Currency code:<br/><%= f.text_field :currency,:name => 'currency', :value => '', :placeholder=> y['currency-code'] %><br/>
      Is the website live? <strong>If yes leave this fiend blank if not input ".sandbox" without the quotes</strong>
      <br/><%= f.text_field :sandbox,:name => 'sandbox', :value => '', :placeholder=> y['sandbox'] %><br/>
      Domain name of your host:<br/><%= f.text_field :domain,:name => 'domain', :value => '', :placeholder=> y['domain'] %><br/>
      <%= f.submit 'Update Social links', :class => "btn btn-warning" %>  
    <% end %>
  </div>
</div>


<h3>All users</h3>
<table style="width:100%" class="table table-striped">
  <tr class="info"><td>UID</td><td>Email</td><td>Money Spent</td><td></td></tr>
  <% User.all.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><%= user.email %></td>      
      <td>£ <%= number_with_precision((user.total_credits_purchased.to_f / 100), :precision => 2) %> (<%= Purchase.where(:user_id => user.id).size %>)</td>
      <td>
        <% if user.admin? %>
          <span style="margin-left: 10px" class="label label-important">Admin</span>
        <% elsif user.role == 'music'%>
          <span style="margin-left: 10px" class="label label-warning">Artist</span>
        <% else %>
          <span style="margin-left: 10px" class="label label-success">User</span>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>


<h3>Top selling bands</h3>
<div class="alert alert-error" <% if (Band.all.count > 5) %><%= " style=display:none;" %><% end %>>
  <button type="button" class="close" data-dismiss="alert">×</button>
  <h3 style="font-weight: 300">We need more bands!</h3>
  <p style="font-size: 16px; font-weight: 300">
    There are less than <strong>5</strong> bands registered for your website.<br/>
    All the bands will be displayed in the below list until more than 5 bands have registered 
    (after which this warning will go away!)
  </p>
</div>
<table style="width:100%" class="table table-striped">
  <tr class="info"><td>Band Name</td><td>Songs sold</td><td>Earned Us</td></tr>
  <% if !Band.first.nil? %>
    <% Band.find(:all, :order => "earned_company desc", :limit => 5).each do |band| %>
      <tr>
        <td><%= band.name %></td>
        <td><%= band.songs_sold %></td>
        <td>£<%= number_with_precision((band.earned_company.to_f / 100), :precision => 2) %></td>
      </tr>
    <% end %>
  <% end %>
</table>

<div id="social" class="alert social">
  <h3 style="color:#333;margin-bottom:20px;">Social Media</h3>
  <p style="font-size:14px;color:black;">The images at the bottom of the page are links to twitter and facebook.
    You can substitute the default websites with the pages of your organisation by adding your pages to the below textboxes.
  </p>
  <% y = YAML.load_file( Rails.root + 'config/social.yml') %><br/>
  <%= form_for 'admindash/social', :url => url_for(:action => 'social') do |f| %>
    <%= f.text_field :facebook,:name => 'facebook', :value => '', :placeholder => "Website Facebook page" %> (<%= y['facebook'] %>)<br/>
    <%= f.text_field :twitter,:name => 'twitter', :value => '', :placeholder=> "Website Twitter page" %> (<%= y['twitter'] %>)<br/>
    <%= f.submit 'Update Social links', :class => "btn btn-warning" %>  
  <% end %>
</div>