<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) + " Get some music ♫" %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield(:head) %>
</head>
<body style="background-color: #7A7A7A">
  <div class="container" style="padding-bottom: 30px;">
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container" style="padding:20px 20px 0px 20px">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
          </a>
          <a class="brand" style="padding-right:250px;" href="#">♫</a>
          <div class="nav-collapse collapse">
            <div id="breadcrumbs">
            <ul class="breadcrumb" style="padding:0px;margin:0px;float:right;margin-right:130px;background-color:black">
              <% if !session[:trail].nil? %>
                <% session[:trail].each do |breadcrum| %>
                <li><a style="text-shadow: 0px 0px white;color:white;font-size:17px;" 
                       href="<%= breadcrum.to_s %>">
                  <% if breadcrum.include? 'home'%>
                    Home
                  <% elsif breadcrum.include? 'admin' %>
                    Admin
                  <% elsif breadcrum.include? 'song' %>
                    Song
                  <% elsif breadcrum.include? 'user' %>
                    User
                  <% else %>
                    Band
                  <% end %>
                  </a> <span style="font-size:17px;color:#FFFF33;" class="divider">/</span>
                </li>
              <% end %>
              <% end %>
            </ul>
            </div>
          </div>
        </div>
      </div>
    </div><br/><br/><br/><br/><br/>
    
    
    <div>
      <ul class="nav nav-tabs">
        <li style="margin-left: 28%" <% if url_for.include? 'home' %> class="active" <% end %>><%= link_to "Home",  root_path, :style => 'padding:8px 40px;' %></li>
        <% if user_signed_in? %>
          <% if current_user.try(:admin?) %>
            <li <% if url_for.include? 'admin' %> class="active" <% end %>><%= link_to "Admin Dashboard", admindash_index_path %></li>
          <% end %>
          <% if current_user.role == "user" %><li <% if url_for.include? 'user' %> class="active" <% end %>><%= link_to "Dashboard", userdash_index_path %></li>
          <% else %>
            <li <% if url_for.include? 'band' %> class="active" <% end %>><%= link_to "Dashboard", banddash_index_path %></li>
          <% end %>
          <li><%= link_to "Sign out",  destroy_user_session_path, :method => :delete %></li><br/>
        <% else %>
          <li <% if url_for.include? 'login' %> class="active" <% end %>><%= link_to "Sign in", new_user_session_path %></li>
          <li <% if url_for.include? 'register' %> class="active" <% end %>>
            <a href="#" class="link" rel="popover" data-original-title="<a href='<%= new_user_registration_path %>'>Register as a User</a>"
               data-content="<a href='<%= new_user_registration_path + "?music=true" %>'> Register as a Band</a>" onclick="showPopout();">Register</a>
          </li>
        <% end %>
      </ul>
    </div>
    
    <div style="background-color:white;box-shadow: 10px 4px 22px #333,  -10px 4px 22px #333;border: 1px solid lightgray;border-top: 0px solid lightgray;margin-top:-20px;padding-top:20px;">
      <div class="row" id="warnings">
        <div class="span3"></div>
        <div class="span5">
          <% if flash.count > 0 %>
          <br/>
          <div class="alert">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <% flash.each do | name, msg| %>
              <%= content_tag :div, msg, :id => "flash_#{name}" %>
            <% end %>
          </div> 
          <% end %>
        </div> 
        <div class="span3"></div>
      </div>

      <div class="row" >
        <div class="span3">
          <div style="padding-left:10px;" class="accordion" id="accordion">
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                  <% if user_signed_in? %>
                    <strong>Signed in </strong>
                  <% else %>
                    <strong>Not Signed in</strong>
                  <% end %>
                </a>
              </div>
              <div id="collapseOne" class="accordion-body collapse in">
                <div class="accordion-inner">
                  <% if user_signed_in? %>
                  <p>
                    <% if user_signed_in? %>
                      <%= current_user.email %>
                    <% else %>
                      <strong>Not Signed in</strong>
                    <% end %><br/>
                  </p>  
                  <% else %>
                  <p>To purchase credits and get songs please <%= link_to 'Sign in', new_user_session_path %></p>
                  <% end %>
                </div>
              </div>
            </div>

            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                  GetSomeMusic Latest 10 tracks 
                </a>
              </div>
              <div id="collapseTwo" class="accordion-body collapse">
                <div class="accordion-inner">
                  <% if !Song.first.nil? %>
                    <% @count = 1 %>
                    <% Song.find(:all, :order => "id desc", :limit => 10).reverse.each do |track| %>
                    <strong><%= @count %></strong> <a href="/songs/<%= track.id %>"><%= track.name %></a><br/>
                    <% @count += 1 %>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>

            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                  My Account
                </a>
              </div>
              <div id="collapseThree" class="accordion-body collapse">
                <div class="accordion-inner">
                  <% if user_signed_in? %>
                    <% if current_user.credit.count < 500 %>
                      I have <span class="label label-important"><%= current_user.credit.count %></span> credits<br/>
                    <% else %>
                      I have <span class="label label-success"><%= current_user.credit.count %></span> credits<br/>
                    <% end %>
                  <small>To buy more go to our <a href="/">home page</a> and click
                    'Purchase Music Credits' near the bottom of the page</small>
                  <% else %>
                  Log-in to view your account details.  
                  <% end %>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="span5 hero-unit" style="box-shadow: 0px -2px 15px #888888;">
          <%= yield %>
        </div>
        <div class="span3"></div>
      </div>
    </div>
  </div>
  <div id="footer" class="foot">
    <br/>
    <div class="footinner">
      <a href="#aboutModal" role="button" data-toggle="modal"><label>About</label></a>
      <a href="#cookieModal" role="button" data-toggle="modal"><label>Cookie Usage</label></a>
      <a href="#termsModal" role="button" data-toggle="modal"><label>Terms</label></a>
      <a href="<%= '/CreativeLicense.pdf' %>"><label>Song Licence</label></a>
      <br/><br/><% y = YAML.load_file( Rails.root + 'config/social.yml') %>
      <a href="<%= y.fetch('twitter') %>"><%= image_tag(Rails.root + '/assets/twitter-icon.png', :alt => "twitter", :style => 'margin-right:30px;height:70px;width:70px;') %></a>
      <a href="<%= y.fetch('facebook') %>"><%= image_tag(Rails.root + '/assets/facebook-icon.png', :alt => "facebook", :style => 'height:70px;width:70px;') %></a>
      <a href="#"><%= image_tag(Rails.root + '/assets/rss-icon.png', :alt => "rss feed", :style => 'margin-left:30px;height:70px;width:70px;') %></a>
    </div>
    <br/>
    <div style="font-size: 12px;font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif; color:azure;opacity:.7">© 2012 Lyuben T.</div>
    <br/><br/> 
  </div>
  <div id="modls">
    <div id="aboutModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h1>About GetSomeMusic</h1>
      </div>
      <div class="modal-body">
        <p>A music retail website. You can download the latest tracks uploaded by bands registered with us for nominal fees.
          Users can easily register, subscribe and access the latest published songs, bands can register and upload
          their songs, and sell these songs once they have purchased a subscription.
        </p>
      </div>
    </div>
    
    <div id="cookieModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h2 id="myModalLabel"><%= image_tag(Rails.root + '/assets/cookie.png', :style => 'height:120px;width:120px;margin-right:30px;') %>Our cookie policy</h2>
      </div>
      <div class="modal-body">
        We use cookies to help you with navigation and to ensure that we give you the best experience on our website. 
        We do not use cookies for advertising in any way, shape or form. If you continue without
        changing your settings we will asume that you are happy to receive all of GetSomeMusic's coookies, however
        if you do not like or agree with our cookie policy
        <a href="#">
          You can change your cookie preferences</a>.
      </div>
      <div class="modal-footer" style="text-align: center">
        <p><strong >Thank you for taking the time to review this piece of information.</strong></p>
      </div>
    </div>
    
    <div id="termsModal" style="margin-top: -320px;width:70%;margin-left:-35%;" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h2>Web Site Terms and Conditions of Use</h2>
      </div>
      <div class="modal-body">
        <h3>1. Terms</h3>
        <p>By accessing this web site, you are agreeing to be bound by these 
        web site Terms and Conditions of Use, all applicable laws and regulations, 
        and agree that you are responsible for compliance with any applicable local 
        laws. If you do not agree with any of these terms, you are prohibited from 
        using or accessing this site. The materials contained in this web site are 
        protected by applicable copyright and trade mark law.</p>

        <h3>2. Use License</h3>
        <ol type="a">
        <li>
        Permission is granted to temporarily download one copy of the materials 
        (information or software) on GetSomeMusic Ltd.'s web site for personal, 
        non-commercial transitory viewing only. This is the grant of a license, 
        not a transfer of title, and under this license you may not:

        <ol type="i">
        <li>modify or copy the materials;</li>
        <li>use the materials for any commercial purpose, or for any public display (commercial or non-commercial);</li>
        <li>attempt to decompile or reverse engineer any software contained on GetSomeMusic Ltd.'s web site;</li>
        <li>remove any copyright or other proprietary notations from the materials; or</li>
        <li>transfer the materials to another person or "mirror" the materials on any other server.</li>
        </ol>
        </li>
        <li>This license shall automatically terminate if you violate any of these restrictions and may be terminated by GetSomeMusic Ltd. at any time. Upon terminating your viewing of these materials or upon the termination of this license, you must destroy any downloaded materials in your possession whether in electronic or printed format.</li>
        </ol>
        <h3>3. Disclaimer</h3>
        <ol type="a">
        <li>The materials on GetSomeMusic Ltd.'s web site are provided "as is". GetSomeMusic Ltd. makes no warranties, expressed or implied, and hereby disclaims and negates all other warranties, including without limitation, implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property or other violation of rights. Further, GetSomeMusic Ltd. does not warrant or make any representations concerning the accuracy, likely results, or reliability of the use of the materials on its Internet web site or otherwise relating to such materials or on any sites linked to this site.</li>
        </ol>
        <h3>4. Limitations</h3>
        <p>In no event shall GetSomeMusic Ltd. or its suppliers be liable for any damages (including, without limitation, damages for loss of data or profit, or due to business interruption,) arising out of the use or inability to use the materials on GetSomeMusic Ltd.'s Internet site, even if GetSomeMusic Ltd. or a GetSomeMusic Ltd. authorized representative has been notified orally or in writing of the possibility of such damage. Because some jurisdictions do not allow limitations on implied warranties, or limitations of liability for consequential or incidental damages, these limitations may not apply to you.</p>
        <h3>5. Revisions and Errata</h3>
        <p>The materials appearing on GetSomeMusic Ltd.'s web site could include technical, typographical, or photographic errors. GetSomeMusic Ltd. does not warrant that any of the materials on its web site are accurate, complete, or current. GetSomeMusic Ltd. may make changes to the materials contained on its web site at any time without notice. GetSomeMusic Ltd. does not, however, make any commitment to update the materials.</p>
        <h3>6. Links</h3>
        <p>GetSomeMusic Ltd. has not reviewed all of the sites linked to its Internet web site and is not responsible for the contents of any such linked site. The inclusion of any link does not imply endorsement by GetSomeMusic Ltd. of the site. Use of any such linked web site is at the user's own risk.</p>
        <h3>7. Site Terms of Use Modifications</h3>
        <p>GetSomeMusic Ltd. may revise these terms of use for its web site at any time without notice. By using this web site you are agreeing to be bound by the then current version of these Terms and Conditions of Use.</p>
        <h3>8. Governing Law</h3>
        <p>Any claim relating to GetSomeMusic Ltd.'s web site shall be governed by the laws of the United Kingdom without regard to its conflict of law provisions.</p>
        <p>General Terms and Conditions applicable to Use of a Web Site.</p>
        <h2>Privacy Policy</h2>
        <p>Your privacy is very important to us. Accordingly, we have developed this Policy in order for you to understand how we collect, use, communicate and disclose and make use of personal information. The following outlines our privacy policy.</p>
        <ul>
        <li>Before or at the time of collecting personal information, we will identify the purposes for which information is being collected.</li>
        <li>We will collect and use of personal information solely with the objective of fulfilling those purposes specified by us and for other compatible purposes, unless we obtain the consent of the individual concerned or as required by law.		</li>
        <li>We will only retain personal information as long as necessary for the fulfillment of those purposes. </li>
        <li>We will collect personal information by lawful and fair means and, where appropriate, with the knowledge or consent of the individual concerned. </li>
        <li>Personal data should be relevant to the purposes for which it is to be used, and, to the extent necessary for those purposes, should be accurate, complete, and up-to-date. </li>
        <li>We will protect personal information by reasonable security safeguards against loss or theft, as well as unauthorized access, disclosure, copying, use or modification.</li>
        <li>We will make readily available to customers information about our policies and practices relating to the management of personal information. </li>
        </ul>
      </div>
      <div class="modal-footer" style="text-align: center">
        <p>We are committed to conducting our business in accordance with these principles in order to ensure that the confidentiality of personal information is protected and maintained. </p>
      </div>
    </div>
  </div>
</body>
</html>


			