<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) + " Get some music ♫" %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield(:head) %>
</head>
<body style="background-color: #7A7A7A">
  <div class="container">
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container" style="padding:20px 20px 0px 20px">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
          </a>
          <a class="brand" style="padding-right:250px;" href="#">♫</a>
          <div class="nav-collapse collapse">
            <div id="breadcrumbs">
            <ul class="breadcrumb" style="padding:0px;margin:0px;float:right;margin-right:130px;background-color:black">
              <% if !session[:trail].nil? %>
                <% session[:trail].each do |breadcrum| %>
                <li><a style="text-shadow: 0px 0px white;color:white;font-size:17px;" 
                       href="<%= breadcrum.to_s %>">
                  <% if breadcrum.include? 'home'%>
                    Home
                  <% elsif breadcrum.include? 'admin' %>
                    Admin
                  <% elsif breadcrum.include? 'song' %>
                    Song
                  <% elsif breadcrum.include? 'user' %>
                    User
                  <% else %>
                    Band
                  <% end %>
                  </a> <span style="font-size:17px;color:#FFFF33;" class="divider">/</span>
                </li>
              <% end %>
              <% end %>
            </ul>
            </div>
          </div>
        </div>
      </div>
    </div><br/><br/><br/><br/><br/>
    
    <div>
      <ul class="nav nav-tabs">
        <li style="margin-left: 28%" <% if url_for.include? 'home' %> class="active" <% end %>><%= link_to "Home",  root_path, :style => 'padding:8px 40px;' %></li>
        <% if user_signed_in? %>
          <% if current_user.try(:admin?) %>
            <li <% if url_for.include? 'admin' %> class="active" <% end %>><%= link_to "Admin Dashboard", admindash_index_path %></li>
          <% end %>
          <% if current_user.role == "user" %><li <% if url_for.include? 'user' %> class="active" <% end %>><%= link_to "Dashboard", userdash_index_path %></li>
          <% else %>
            <li <% if url_for.include? 'band' %> class="active" <% end %>><%= link_to "Dashboard", banddash_index_path %></li>
          <% end %>
          <li><%= link_to "Sign out",  destroy_user_session_path, :method => :delete %></li><br/>
        <% else %>
          <li <% if url_for.include? 'login' %> class="active" <% end %>><%= link_to "Sign in", new_user_session_path %></li>
          <li <% if url_for.include? 'register' %> class="active" <% end %>><%= link_to "Sign up",  new_user_registration_path %></li>
        <% end %>
      </ul>
    </div>
    
    <div style="background-color:white;box-shadow: 10px 4px 22px #333,  -10px 4px 22px #333;border: 1px solid lightgray;border-top: 0px solid lightgray;margin-top:-20px;padding-top:20px;">
      <div class="row" id="warnings">
        <div class="span3"></div>
        <div class="span5">
          <% if flash.count > 0 %>
          <br/>
          <div class="alert">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <% flash.each do | name, msg| %>
              <%= content_tag :div, msg, :id => "flash_#{name}" %>
            <% end %>
          </div> 
          <% end %>
        </div> 
        <div class="span3"></div>
      </div>

      <div class="row" >
        <div class="span3">
          <div style="padding-left:10px;" class="accordion" id="accordion">
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                  <% if user_signed_in? %>
                    <strong>Signed in </strong>(<%= current_user.email %>)
                  <% else %>
                    <strong>Not Signed in</strong>
                  <% end %>
                </a>
              </div>
              <div id="collapseOne" class="accordion-body collapse in">
                <div class="accordion-inner">
                  <% if user_signed_in? %>
                  <p>Welcome!<br/></p>  
                  <% else %>
                  <p>To purchase credits and get songs please <%= link_to 'Sign in', new_user_session_path %></p>
                  <% end %>
                </div>
              </div>
            </div>

            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                  GetSomeMusic Latest 10 tracks 
                </a>
              </div>
              <div id="collapseTwo" class="accordion-body collapse">
                <div class="accordion-inner">
                  <% if !Song.first.nil? %>
                    <% @count = 1 %>
                    <% Song.find(:all, :order => "id desc", :limit => 10).reverse.each do |track| %>
                    <strong><%= @count %></strong> <a href="/songs/<%= track.id %>"><%= track.name %></a><br/>
                    <% @count += 1 %>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>

            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                  My Account
                </a>
              </div>
              <div id="collapseThree" class="accordion-body collapse">
                <div class="accordion-inner">
                  <% if user_signed_in? %>
                    <% if current_user.credit.count < 500 %>
                      I have <span class="label label-important"><%= current_user.credit.count %></span> credits<br/>
                    <% else %>
                      I have <span class="label label-success"><%= current_user.credit.count %></span> credits<br/>
                    <% end %>
                  <small>To buy more go to our <a href="/">home page</a> and click
                    'Purchase Music Credits' near the bottom of the page</small>
                  <% else %>
                  Log-in to view your account details.  
                  <% end %>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="span5 hero-unit" style="box-shadow: 0px -2px 15px #888888;">
          <%= yield %>
        </div>
        <div class="span3"></div>
      </div>
    </div>
  </div>
  <div id="footer" class="foot">
    <br/>
    <div class="footinner">
      <label>About</label> 
      <label>Terms</label> 
      <label>Song Licence</label>
      <label>Crediting System</label>
      <br/><br/><% y = YAML.load_file( Rails.root + 'config/social.yml') %>
      <a href="<%= y.fetch('twitter') %>"><%= image_tag("http://icons.iconarchive.com/icons/arrioch/oled-social/256/twitter-icon.png", :alt => "twitter", :style => 'margin-right:30px;height:70px;width:70px;') %></a>
      <a href="<%= y.fetch('facebook') %>"><%= image_tag("http://icons.iconarchive.com/icons/arrioch/oled-social/256/facebook-icon.png", :alt => "facebook", :style => 'height:70px;width:70px;') %></a>
      <a href="#"><%= image_tag("http://icons.iconarchive.com/icons/arrioch/oled-social/256/rss-icon.png", :alt => "rss feed", :style => 'margin-left:30px;height:70px;width:70px;') %></a>
    </div>
    <br/><br/><br/>
  </div>
</body>
</html>
